body {
    background-color: plum;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container  {
    background-color: white;
    height: 400px;
    width: 600px;
    border: solid hotpink 10px;
    border-radius: 10%;
    margin-top: 5rem;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
h1 {
    margin-top: 1.5rem;
    text-align: center;
    color: indigo;
}
p {
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    padding: 10px;
}
.question {
    text-align: center;
    font-size: 30px;
}
.button-container {
    text-align: center;
}
.start-button {
    margin-bottom: 3rem;
    background-color: indigo;
    color: white;
    padding: 20px;
    border-radius: 10%;
}
.answer-button {
    margin-bottom: 10px;
    background-color: indigo;
    color: white;
    border-radius: 10%;
    padding: 20px;
}
.answer-button:hover {
    background-color: plum;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.answer-button:active {
    background-color: hotpink;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.answer {
    text-align: center;
}
#question-form {
    display: none;
}
#end-form {
    display: none;
}
.correct, .wrong {
    display: none;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}
.correct {
    background-color: lime;
}
.wrong {
background-color: plum;
}
.next-button {
    margin-left: 60%;
    text-align: center;
    margin-top: 20px;
    background-color:rebeccapurple;
    color: white;
    height: 50px;
    width: 100px;
    border: none;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10%;
    display: none;
}
#score {
    text-align-last: right;
    font-size: 30px;
    font-weight: bold;
    color: hotpink;
}
#timer {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    color: hotpink;
}
#end-score {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: hotpink;
}